.login-page {
    height: 100vh;
    width: 100vw;
    background-color: #524852;
    background-image: url("wave-login.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-frame {
    background-color: #f7f7fc;
    width: 27vw;
    height: 70vh;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0em 1.0em #3c363c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.input-frame {
    width: 100%;
    height: fit-content;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

input {
    margin: 1em;
    width: 55%;
    background-color: white;
    border-radius: 0.6em;
    border-width: 0.15em;
    border-style: solid;
    border-color: #cecece;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 2em; 
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: #383838;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a8a8a8;
    opacity: 1; /* Firefox */
}

input:focus {
    outline-color: #d7b2f0;
    color: #C9A0E5;
}

.login-button {
    width: 55%;
    border-radius: 0.6em;
    margin-top: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-image: linear-gradient(to right, #db88dc , #cea7e8);
    color: white;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.login-button:hover {
    transform: scale(1.1);
}

.login-title-text {
    color: #524852;
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: 2.2em;
    margin-top: 1.3em;
}

.login-link-text {
    color: #524852;
    font-family: Tahoma, sans-serif;
    font-size: 0.95em;
    margin-bottom: 4em;
}

.login-popup {
    position: absolute;
    height: 11em;
    width: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background-color: #e7d1f6f8;
    color: white;
    transform: scale(1);
    transition: 0.3s;
}

.title-login-popup {
    color: #524852;
    margin-bottom: 1.0em;
    font-family: Tahoma, sans-serif;
    font-size: 1.5em;
}

.message-login-popup {
    color: #524852;
    margin-bottom: 1.0em;
    font-family: Tahoma, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
}

.hide {
    position: absolute;
    transform: scale(0);
}